{% extends "base.html" %}
{% load static %}

{% block title %}
  All My Books
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "/bookstore/book.css" %}"/>
  <link rel="stylesheet" href="{% static "/bookstore/all-books.css" %}"/>
{% endblock  %}

{% block content %}
  <section id="all-books">
    <h2>My Collected Books</h2>
    <ul>
      {% for book in all_books %}
        {% include "bookstore/includes/book.html" %}
      {% endfor %}
    </ul>
  </section>
{% endblock %}