{% extends "base.html" %}
{% load static %}

{% block title %}
  anish0m's Bookstore
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "/bookstore/index.css" %}"/>
  <link rel="stylesheet" href="{% static "/bookstore/book.css" %}"/>
{% endblock  %}

{% block navbar %}
  <nav class="navbar navbar-expand-md navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url "books-page" %}">Explore All Books</a>
      </li>
    </ul>
  </nav>
{% endblock %} 

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static "images/anish0m.png" %}" alt="anish0m - The Owner"/>
      <h2>anish0m's Bookstore</h2>
    </header>
  </section>

  <section id="latest-books">
    <h2>My Latest Collections</h2>
    <ul>
      {% for book in books %}
        {% include "bookstore/includes/book.html" %}
      {% endfor %}
    </ul>
  </section>
{% endblock %}