{% extends "base.html" %}
{% load static %}

{% block title %}
  @anish0m's
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "/anish0m/index.css" %}"/>
{% endblock  %}

{% block content %}
  <section id="my-contents">
    <ul>
      <li>
        <a href="{% url 'starting-page-blog' %}">
          <div class="card">
            <h3>anish0m's Blog</h2>
            <p>Explore all blog posts and articles.</p>
          </div>
        </a>
      </li>
      <li>
        <a href="{% url 'starting-page-bookstore' %}">
          <div class="card">
            <h3>anish0m's Bookstore</h2>
            <p>Find your favorite books at affordable prices.</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}