{% extends "base.html" %}
{% load static %}

{% block title %}
  @anish0m's
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "/anish0m/index.css" %}"/>
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
{% endblock  %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static "blog/images/anish0m.png" %}" alt="anish0m - The Owner"/>
      <h2>@anish0m's</h2>
    </header>
  </section>
  
  <section id="my-contents">
    <ul>
      <li>
        <article>
          <a href="{% url 'starting-page-blog' %}">
            <img src="{% static 'anish0m/images/blog.jpg' %}" alt="anish0m's blog"/>
            <div class="description">
              <h3>anish0m's Blog</h3>
              <p>Having thoughts on the latest trends in technology?</p>
              <p>Join me on my blog to explore my insights and share your own ideas!</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="{% url 'starting-page-bookstore' %}">
            <img src="{% static 'anish0m/images/bookstore.jpg' %}" alt="anish0m's bookstore"/>
            <div class="description">
              <h3>anish0m's Bookstore</h3>
              <p>Looking for your next favorite book?</p>
              <p>Visit my bookstore to find amazing books within your budget!</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article>
          <a href="{% url 'starting-page-recipes' %}">
            <img src="{% static 'anish0m/images/recipes.jpg' %}" alt="anish0m's recipes"/>
            <div class="description">
              <h3>anish0m's Recipes</h3>
              <p>Craving your next favorite bite?</p>
              <p>Visit my recipes to find special recipes with minimal supplies!</p>
            </div>
          </a>
        </article>
      </li>
    </ul>
  </section>

  <section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h2 class="fw-light">About The Owner</h2>
							<h1 class="text-uppercase">Mohsina Tabassum Rifa</h1>
							<h5 class="fw-light">Software Engineer</h5>
							<h5 class="fw-light">Brain Station 23</h5>
							<div class="d-flex align-items-center">
								<p class="lead">Learn more about me...</p>
								<a class="bi bi-box-arrow-in-up-right" href="{% url 'portfolio' %}"></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img src="{% static 'anish0m/images/about.png' %}" alt="Mohsina Tabassum Rifa"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}