.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipe a {
  height: 19rem;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.recipe a:hover,
.recipe a:active {
  transform: scale(1.1);
  background-color: #0D261C;
  color: white;
}

.recipe img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.recipe h3 {
  margin: 0.25rem 0;
}

.recipe time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.recipe:hover time,
.recipe:active time {
  color: white;
}