#welcome {
  background: linear-gradient(to right top, #267355, #0d261c);
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #cfeee1;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #e4e4e4;
  width: 10rem;
}

#my-contents {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#my-contents h2 {
  text-align: center;
}

#my-contents ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#my-contents li {
  flex: 1;
}

#my-contents article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#my-contents a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1.5rem;
  height: 23rem;
  transform-origin: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
}

#my-contents a:hover,
#my-contents a:active {
  transform: scale(1.1);
  background-color: #0d261c;
  color: white;
}

#my-contents img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#my-contents h3 {
  margin: 1rem;
}

/* Minimal Home Banner Area */
.home_banner_area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 5rem 0 5rem;
  padding: 3rem 5rem 0 5rem;
}

.banner_inner {
  width: 100%;
}

.home_right_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_right_img img {
  max-width: 100%;
  height: auto;
}

.banner_content {
  text-align: start;
  padding-left: 5rem;
  padding-top: 5rem;
}

.banner_content h2 {
  margin-bottom: 1rem;
}

.banner_content h1 {
  margin-bottom: 1.3rem;
}

.banner_content h5 {
  font-size: 1.5rem;
}

.banner_content p {
  margin-top: 12px;
}

.banner_content a {
  color: #333333;
  font-size: 1.5rem;
  align-items: center;
  margin-left: 5px;
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .home_right_img {
    display: none;
  }

  .banner_content {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .banner_content h1 {
    font-size: 40px;
  }
}